.movie-item {
    background-color: #212121;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px #212121;
}

.movie-item:hover {
    transition: background-color 250ms linear, color 250ms linear;
    cursor: pointer;
    color: #BDBDBD;
}

.navigation-link {
    color: #FFFFFF !important;
}

.navigation-link:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.login-box {
    box-shadow: 1px 1px 1px #212121;
    /*border: 1px solid #212121;*/
    color: #212121;
    background-color: #607D8B;
}

.login-box:hover {
    cursor: pointer;
    background-color: #212121;
    color: #FFFFFF;
    transition: background-color 250ms linear, color 250ms linear;
}

.login-box-link:hover {
    text-decoration: none;
}

.movie-watching:hover {
    cursor: pointer;
    /*background-color: #FFC107;*/
}

.movie-watching {
    border: 1px solid black;
    box-shadow: 2px 2px 5px #212121;
    color: #212121;
}

.friend-box {
    box-shadow: 1px 1px 1px #212121;
    color: #FFFFFF;
    background-color: #212121;
}

.friend-box:hover {
    cursor: pointer;
    color: #BDBDBD;
    transition: background-color 250ms linear, color 250ms linear;
}

.body {
    min-height: 100vh;
    background-color: #CFD8DC;
}

.page-base {
    min-height: 100vh;
    background-color: #CFD8DC;
    background-image: url("https://www.esa.int/var/esa/storage/images/19716864-11-eng-GB/ESA_root_pillars.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navigation-bar {
    background-color: #455A64;
    box-shadow: 2px 2px 1px 1px #212121;
}

.btn-primary {
    background-color: #212121 !important;
    color: #FFFFFF;
    border-color: #212121 !important;
    box-shadow: 1px 1px 1px #212121;
}

.btn-primary:hover {
    background-color: #009688 !important;
    /*color:#212121 !important;*/
    border-color: #009688 !important;
}

.main-box{
    background-color: rgba(69, 90, 100, 0.95);
    color: #FFFFFF;
    box-shadow: 2px 2px 2px #3e4d5a;
}

